*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  min-inline-size: 711px;
  padding-block-start: 78px;
  position: relative;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.content {
  margin: 133px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


.content__list-container {
  max-block-size: 298px;
  overflow-y: auto;
  position: relative;
}

.content__details {
  block-size: 100%;
  inline-size: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  padding: 0 0 26px;
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;     /* не переносим строку */
  max-width: 99%;         /* или нужная тебе ширина, например 90% */
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.search-form__textfield {
  font-weight: 400;
  line-height: 22px;
  font-size: 18px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: transparent;
  min-inline-size: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  outline: 1px solid #FFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__pseudo-checkbox { /* блок с чебоксами */
  cursor: pointer;
  display: block;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text {
  padding-left: 5px;
}

.search-form__label:not(:has(.search-form__textfield)):hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: transparent;
  font-weight: 400;
  line-height: 21px;
  border: 1px solid #fff;
}

.search-form__submit-button {
  padding: 6px 73.5px;
}

.more-button {
  padding: 6px 142px;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button:focus-visible {
  margin: 2px;
  padding: 6px 140px;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
  margin: 2px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
